<h1 class="m-0">Marca de Carros</h1>
</div><!-- /.col -->
<div class="col-sm-6">
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{{URL}}">Home</a></li>
    <li class="breadcrumb-item active">Adicionar Marca de Veículos</li>
  </ol>
</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Default box -->
    <div class="card card-default">
      <div class="card-header d-flex justify-content-between">
        <h3 class="card-title">Editar Marca de Veículo</h3>

        <a href="{{URL}}/marca" class="btn btn-info btn-icon ml-auto">
          <i class="fas fa-arrow-left"></i> Voltar
        </a>
      </div>

      <div class="card-body">
        <!-- Exibe a mensagem de sucesso se existir -->
          {{#if successMessage}}
          <div class="alert alert-success" role="alert">
              {{successMessage}}
          </div>
          {{/if}}

          <!-- Exibe a mensagem de erro se existir -->
          {{#if errorMessage}}
          <div class="alert alert-danger" role="alert">
              {{errorMessage}}
          </div>
          {{/if}}


        <form method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6">
              <!-- Nome da Marca -->
              <div class="form-group">
                <label for="name">Nome da Marca</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Digite o nome da marca" required>
              </div>
            </div>
            <!-- /.col -->

            <div class="col-md-6">
              <!-- Imagem da Marca -->
              <div class="form-group">
                <label for="logo">Imagem da Marca</label>
                <input type="file" class="form-control" id="logo" name="logo" accept="image/*">
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Botões de Ação -->
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-success">Salvar</button>
              <button type="reset" class="btn btn-danger">Limpar</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
